[submodule "3rdparty/jsmn"]
	path = 3rdparty/jsmn
	url = https://github.com/deadbok/jsmn

[submodule "3rdparty/esp-gdbstub"]
	path = 3rdparty/esp-gdbstub
	url = https://github.com/espressif/esp-gdbstub
