/*!
 * Custom CSS rules for WIFISwitch.
 * 
 * Copyright 2015 Martin Bo Kristensen Grønholdt <oblivion@@ace2>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 */
.inverted
{
	color: rgb(230, 220, 220);
	background: rgb(28, 28, 28);
}

nav
{
	color: rgb(230, 220, 220);
	background: rgb(28, 28, 28);
	overflow: hidden;
}

nav ul
{
	overflow: auto;
	margin: 0.25em auto;
	margin-right: auto;
	margin-left: auto;
	float: left;
}

nav li
{
   display: block;
   float: left;
}

nav a
{
	background: rgb(28, 28, 28);
	color: rgb(230, 220, 220);
}
	
nav li a
{
	display: block;
	padding: 0.5em 0.5em;
	text-decoration: none;
}

nav a:hover
{
	background: rgb(230, 220, 220);
	color: rgb(28, 28, 28);
}

nav li a:hover
{
	display: block;
	padding: 0.5em 0.5em;
	text-decoration: none;
}

nav .hidden-menu
{
	display: none;
}

nav span
{
	float: right;
	margin-top: 0.5em;
	margin-right: 0.5em;
}

section
{
	padding: 2em 1em;
}

footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 3;
	width: 100%;
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	font-size: small;
}

.button
{
    width: 6.5em;
    height: 6.5em;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10%;
}

.button-off
{
	color: white;
	background: rgb(28, 28, 28);
}

.button-on
{
	color: rgb(60, 250, 250);
	background: rgb(250, 60, 60);
}

.license
{
	padding-left: 1em;
}

.message
{
	padding: 1.5em;
	margin-top: 1em;
	background: #def;
	border-left: 0.25em solid #59d
}

.error
{
	border-color: #e44; 
	background: #fdd;
}

.success
{
	border-color: #2d2;
	background: #dfd;
}

.connected
{
	color: rgb(0, 255, 0);
}

.disconnected
{
	color: rgb(255, 0, 0);
}

button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);*/
	background-color:#2dabf9;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

a.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);*/
	background-color:#0688fa;
}

/*.a button:active {
	position:relative;
	top:1px;
}*/

@media only screen and (max-width: 480px)
{

	#menu
	{
		display: none;
	}

	nav .hidden-menu
	{
		display: block;
		float: left;
		padding: 0.75em 0.5em;
	}
	
	nav li
	{
		float: none;
		border-right: none;
	}
}
